video {
  position: absolute;
  object-fit: cover;
}

#moviePreview {
  position: relative;
  width: 100%;
  height: 452px;
}

#previewDetail {
  position: absolute;
  top: 41%;
  left: 2em;
}

#previewDetail h2,
p {
  color: white;
}
