.movieList {
  list-style: none;
  display: flex;
  background-color: yellowgreen;
  margin: 0;
  margin-bottom: 5px;
  overflow-x: scroll;
  padding: 0;
}

/* .movieList::-webkit-scrollbar { 
  display: none;
} */

.movieListItem {
  background-color: brown;
  margin: 5px;
  height: 5rem;
}
